{% load static %}

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
<link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{%static 'assets/css/style.css'%}" rel="stylesheet">

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Login Now</h2>
      </div>

      <div class="row mt-1">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Pratap &amp; Sons Sports, Agra, UP, INDIA</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>add@domain.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+91 99999 99999</p>
            </div>

            <div class="phone">
                <i class="bi bi-house-fill"></i>
                <h4><a href="/" >Home</a></h4>
                <p>Go back to Home<p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
            {% for message in messages %}
            <p style="color:red;">{{message}}</p>
            {% endfor %}
          <form action="login" method="post" role="form" class="php-email-form">
              {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="username" name="username" class="form-control" id="username" placeholder="Username" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
              </div>
            </div>
            <div class="text-center"><button type="submit">Login</button>&ensp;Din't have an Account?<a href="register">&nbsp;Register Now</a></div>
          </form>
        </div>

      </div>

    </div>
  </section>
